---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Works from '../components/Works.astro';
import Writing from '../components/Writing.astro';
import Connect from '../components/Connect.astro';
---

<BaseLayout>
  <main id="top">
    <Hero />
    <About />
    <Works />
    <Writing />
    <Connect />
  </main>
</BaseLayout>
