---
---

<footer class="foot">
  <div class="foot-grid">
    <div>
      <div class="foot-sig-big">ty2035.dev</div>
      <div class="foot-meta">
        <span>© 2026 Tae Young Ryu · All rights reserved</span>
      </div>
    </div>
    <div class="foot-right">
      <span>Last updated <span id="lastUpdated">Apr 2026</span></span>
    </div>
  </div>
</footer>